* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family:  var(--font-padrao);
}

.layout_guide {
    width: min(80%, 1520px);
}


:root{
    --tamanho-fonte-padrao: 16px;
    --tamanho-fonte-titulo: 35px;
    --tamanho-fonte-subtitulo:30px;
    --cor-fundo: #eef1f5;
    --cor-texto: #0f172a;
    --cor-cinza: #9ca3af;

    --cor-vermelha: #CE2C2C;
}

body {
    background-color: #e9edf2;
    color: #111111;
}